.todo__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background: var(--white);
	/* margin-bottom: 1.5rem; */
	border-radius: 4px;
	margin: 1rem;
}
.todo__item:last-child {
	margin-bottom: 0;
}
.todo__details {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}

.texts {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.todoText {
	word-break: break-all;
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--black-2);
}
.time {
	display: block;
	font-size: 0.8rem;
	font-weight: 300;
	margin-top: 0.2rem;
	color: var(--black-2);
}

.check__box-input .check__box {
	width: 25px;
	height: 25px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	transition: 0.3s ease background-color;
	background-color: var(--grey-2);
}

.todo__actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.icon {
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: var(--gray-1);
	color: var(--black-2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease background-color;
}
icon:hover {
	background-color: var(--gray-2);
}

.check__mark {
	text-decoration: line-through;
	text-decoration-color: red;
}
